:root {
    /* Definição das cores utilizadas no tema */
    --rosa-claro: rgb(248, 7, 89);
    --rosa-escuro: rgb(170, 9, 63);
    --cinza-escuro: rgb(14, 14, 14);
    --cinza-claro: rgb(100, 100, 100);
    --branco: rgb(255, 255, 255);
}

body {
    /* Cor de fundo e fonte padrão para o corpo da página */
    background-color: var(--cinza-escuro);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    /* Fundo da barra de navegação */
    background-color: var(--cinza-escuro);
}

.navbar-brand img {
    /* Ajusta o tamanho do logotipo no menu */
    width: 50px;
    height: auto;
}

.nav-link {
    /* Cor e estilo padrão dos links no menu */
    color: var(--cinza-claro) !important;
}

.nav-link:hover {
    /* Alteração de cor dos links no menu ao passar o mouse */
    color: var(--branco) !important;
}

.login-btn {
    /* Estilo do botão de login na barra de navegação */
    color: var(--branco);
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom right, var(--rosa-claro), var(--rosa-escuro));
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.login-btn:hover {
    /* Efeito de hover no botão de login */
    background: linear-gradient(to bottom right, var(--rosa-escuro), var(--rosa-claro));
}

/* Estilo dos links do menu */
.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--cinza-claro);
    font-size: 18px;
}

/* Efeito de destaque nos links do menu ao passar o mouse */
.nav-link::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, var(--rosa-escuro), var(--rosa-claro));
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: width 0.5s;
}

.nav-link:hover::after {
    /* Expansão da linha decorativa ao passar o mouse */
    width: 100%;
}

.noticias {
    /* Espaçamento interno para a seção de notícias */
    padding: 20px;
}

.scrollable {
    /* Adiciona rolagem horizontal para contêineres maiores */
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cards-container {
    /* Estilo de layout horizontal para os cards */
    display: flex;
    gap: 20px;
}

.card {
    /* Configuração dos cards individuais */
    flex: 0 0 auto;
    background-color: var(--cinza-claro);
}

.card-body {
    /* Limita a altura do conteúdo dos cards e adiciona rolagem, se necessário */
    max-height: 150px;
    overflow-y: auto;
}

.custom-card-img {
    /* Estilo para imagens nos cards */
    border: 10px solid var(--cinza-claro);
    border-radius: 20px;
    border-color: var(--cinza-claro);
}

.card-footer {
    /* Estilo do rodapé dos cards */
    color: var(--cinza-claro);
    background-color: var(--cinza-escuro);
    border: 10px solid var(--cinza-claro);
    padding: 15px;
}

.card:hover {
    /* Efeito de zoom nos cards ao passar o mouse */
    transform: scale(0.98);
    border-radius: 0;
}

footer {
    /* Estilo do rodapé */
    background-color: var(--cinza-escuro);
}

footer a {
    /* Estilo dos links no rodapé */
    color: var(--branco);
    text-decoration: none;
}

footer a:hover {
    /* Efeito de hover nos links do rodapé */
    color: var(--rosa-escuro);
    text-decoration: none;
}

.login-container {
    /* Estilo do contêiner da tela de login */
    background-color: var(--cinza-escuro);
    color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

.form-control {
    /* Estilo dos campos de formulário */
    background-color: #2c2c2c;
    color: var(--branco);
    border: 1px solid var(--cinza-claro);
}

.form-control::placeholder {
    /* Estilo do placeholder nos campos de formulário */
    color: var(--cinza-claro);
}

.form-control:focus {
    /* Estilo dos campos de formulário ao receber foco */
    background-color: #2c2c2c;
    color: var(--branco);
    border-color: var(--branco);
    box-shadow: none;
}

/* Botão de Login */
.btn-login {
    background: linear-gradient(to bottom right, var(--rosa-escuro), var(--rosa-claro));
    color: var(--branco);
    border: none;
}

.btn-login:hover {
    /* Efeito de hover no botão de login */
    background: linear-gradient(to bottom right, var(--rosa-claro), var(--rosa-escuro));
}

/* Links gerais */
a {
    color: var(--rosa-escuro);
}

a:hover {
    color: var(--rosa-claro);
}

.table th {
    /* Estilo para cabeçalhos das tabelas */
    background-color: var(--rosa-escuro);
    color: var(--branco);
    border: none;
    text-align: center;
}

.table td {
    /* Estilo para células das tabelas */
    background-color: var(--cinza-escuro);
    border: none;
    text-align: center;
}

/* Ajuste de altura das linhas da tabela */
.table th, .table td {
    padding: 30px 40px;
}
